.Project {
  background-color: var(--white);
  margin: 0 40px 40px 0;
  border: 1px solid transparent;
}
.Project--selected {
  border: 1px solid var(--black);
}

.Project__container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 260px;
}

.Project__text-block {
  flex: 1 1;
  color: var(--black);
}

.Project__title {
  /*font-family: var(--HoeflerText);*/
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.Project__text {
  /*font-family: var(--Campton);*/
  font-size: 13px;
  line-height: 1.38;
}

.Project__date {
  /*font-family: var(--Campton);*/
  font-size: 13px;
  line-height: 1.23;
  color: var(--suvaGrey);
}